@model IEnumerable<clinic_management_by_haris.Models.tbl_products>

@{
    ViewBag.Title = "AllMedicines";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Scientific Apparatus</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
       
        <th>
            Price
        </th>
        <th>
            Cost
        </th>
        
        <th>
            Weight
        </th>
        <th>
            Description
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pname)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.pweight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pdescription)
            </td>
            <td>
                <img  alt="image" src="~/productImages/@item.pimage" height="50" width="50" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditApparatus", new { id = item.pid }) |
                @Html.ActionLink("Delete", "DeleteApparatus", new { id = item.pid })

            </td>
        </tr>
    }

</table>
