@model IEnumerable<clinic_management_by_haris.Models.tbl_cart>

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   
<div id="body">
    <div class="container">
        <div id="content" class="full">
            <div class="cart-table">
                <table>
                    <tr>
                        <th class="items">Items</th>
                        <th class="price">Price</th>
                        <th class="qnt">Quantity</th>
                        <th class="total">Total</th>
                        <th class="delete"></th>
                        <th class="delete"></th>
                         
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="items">
                                <div class="image">
                                    <img  alt="image" src="~/productImages/@item.tbl_inventory.tbl_products.pimage" alt="" height="100" width="150">
                                </div>
                                <h3><a href="#">@item.tbl_inventory.tbl_products.pname</a></h3>

                            </td>
                            <td class="price">@item.tbl_inventory.tbl_products.price</td>
                            @using (Html.BeginForm("ShowCart", "Order", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <td class="qnt">
                                    <input type="tel" required name="qty"  maxlength="3" pattern="[0-9]{1,3}]" max="@item.tbl_inventory.quantity" value="@item.quantity" />
                                    <input type="hidden" name="itemid" value="@item.id">
                                
                                            <input type="submit" value="Update" class="btn-grey" />
                                        
                                </td>
                            }
@{int itemsum=(((int)@item.tbl_inventory.tbl_products.price) * ((int)@item.quantity));}
                            <td class="total">@itemsum</td>
                            <td class="delete">
                                @using (Html.BeginForm("removeCart", "Order", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                <td class="delete">
                                    <input type="hidden" name="itemid" value="@item.id">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Remove" class="btn-grey" />
                                        </div>
                                    </div>
                                </td>
                                }

                            </tr>
                    }

                </table>
            </div>

            @{int total = 0; }
            @foreach (var item in Model)
            {
                
                   total += ((int)@item.tbl_inventory.tbl_products.price * (int)@item.quantity);
            }
                    
              
            <div class="total-count">
                <h3>Total to pay: <strong> @total</strong> </h3>
                 
               @using (Html.BeginForm("PlaceOrder", "Order", FormMethod.Post, new { @enctype = "multipart/form-data" }))
               {
                @Html.AntiForgeryToken()
                    <input type="submit" class="btn-grey" value="Place Order"     onclick="javascript:return ShowMessage();" />

                }
                            


                      
                    </div>
                </div>
        <!-- / content -->
    </div>
    <!-- / container -->
</div>
<!-- / body -->
<script>
    function ShowMessage() {

        if (Session["cname"] != null)
        { 
            return true;
        } else {
            return false;
        }
         

    }
</script>